.destination-section {
  background-image: url(./../../images/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.info {
  width: 445px;
  margin-top: 100px;
}

.planet__image {
  margin-top: 100px;
  margin-bottom: 50px;
}

.info__list {
  padding-left: 0;
  width: 285px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.info__list-item {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 16px;
  letter-spacing: 2.7px;
  cursor: pointer;
  color: #d0d6f9;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.info__list-item:hover {
  display: block;
  padding-bottom: 25px;
  border-bottom: 3px solid #d0d6f9;
  opacity: 0.5;
}

.info__list-item:focus {
  display: block;
  padding-bottom: 25px;
  border-bottom: 3px solid #d0d6f9;
}

.info__title {
  font-size: 100px;
  margin: 45px 0 14px;
  text-transform: uppercase;
}

.info__line {
  margin: 60px 0 40px;
  border: 1px solid #383b4b;
}

.subheading {
  width: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subheading__title {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: #d0d6f9;
}

.subheading__subtitle {
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 12px;
}

/* Adaptive */
@media (max-width: 1250px) {
  .destination-section {
    background-image: url(./../../images/destination/background-destination-tablet.jpg);
  }

  .planet__image {
    width: 300px;
    height: 300px;
    margin: 60px auto 0;
  }

  .info {
    margin: 60px auto 0;
  }

  .info__list {
    margin: 0 auto;
  }

  .info__title {
    text-align: center;
    font-size: 80px;
  }

  .subheading {
    margin: 0 auto 60px;
  }

  .subheading__title {
    text-align: center;
  }

  .subheading__subtitle {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .planet__image {
    width: 170px;
    height: 170px;
  }

  .info {
    width: 300px;
  }

  .info__line {
    width: 280px;
    margin: 60px auto 40px;
  }

  .info__list {
    width: 260px;
  }

  .info__list-item {
    font-size: 14px;
    letter-spacing: 2.36px;
  }

  .info__title {
    font-size: 56px;
  }

  .subheading {
    width: 300px;
    grid-template-columns: 1fr;
  }

  .subheading__distance {
    margin-bottom: 30px;
  }
}

/* Adaptive height */
@media (max-height: 750px) {
  .planet__image {
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .info {
    margin-top: 50px;
  }
}
