@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  margin: 0;
}

/* Typography */
.barlow {
  font-family: "Barlow", sans-serif;
  font-weight: normal;
}

.barlow-condensed {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
}

.bellefair {
  font-family: "Bellefair", sans-serif;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.number {
  opacity: 0.25;
  font-weight: bold;
}

.section__title {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4.72px;
  padding-top: 200px;
  padding-left: 12%;
}

.info__subtitle {
  font-size: 18px;
  line-height: 32px; 
  color: #D0D6F9;
  width: 450px;
}

/* Adaptive */
@media (max-width: 1250px) {
  .container {
    flex-direction: column;
  }

  .info__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto;
  }
  
  .section__title {
    padding-top: 150px;
  }
}

@media (max-width: 650px) {
  .info__subtitle {
    font-size: 15px;
    line-height: 25px;
    width: 280px;
    margin: 0 auto;
  }

  .section__title {
    padding-left: 0;
    width: 220px;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 2.7px;
    text-align: center;
  }

  .container {
    width: 100%;
    padding-bottom: 50px;
  }
}

