@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.number {
  opacity: 0.25;
}
