.home-section {
  background-image: url(./../../images/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.home__text {
  margin-top: 350px;
  width: 450px;
}

.home__text-subheading {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4.75px;
  color: #d0d6f9;
}

.home__text-title {
  font-size: 150px;
  text-transform: uppercase;
  padding: 24px 0;
}

.home__text-subtitle {
  font-size: 18px;
  line-height: 32px;
}

.button-link {
  text-decoration: none;
  color: black;
  margin-top: 450px;
  width: 275px;
  height: 275px;
  border-radius: 150px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.button-link:hover {
  box-shadow: 0 0 1px 50px rgba(143, 142, 155, 0.8);
}

/* Adaptive */
@media (max-width: 1250px) {
  .home-section {
    background-image: url(./../../images/home/background-home-tablet.jpg);
  }

  .home__text {
    margin: 200px auto 0;
  }

  .home__text-subheading {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3.38px;
  }

  .button-link {
    margin: 150px auto 90px;
  }
}

@media (max-width: 650px) {
  .home__text {
    width: 320px;
  }
  
  .home__text-subheading {
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  .home__text-title {
    font-size: 80px;
    line-height: 100px;
    text-align: center;
  }

  .button-link {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
}

/* Adaptive height */
@media (max-height: 750px) {
  .home__text {
    margin-top: 250px;
  }

  .button-link {
    margin-top: 350px;
  }
}

@media (max-height: 750px) and (max-width: 650px) {
  .button-link {
    margin-top: 150px;
  }
}