.crew-section {
    background-image: url(./../../images/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
  }
  