.crew-section {
  background-image: url(./../../images/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.crew__info {
  margin-top: 150px;
}

.crew__status {
  font-size: 32px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 15px;
}

.crew__name {
  font-size: 56px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.crew__list {
  position: absolute;
  bottom: 100px;
  padding-left: 0;
  width: 285px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.crew__image {
  height: 695px;
}

.crew__line {
  display: none;
  margin: 60px 0 40px;
  border: 1px solid #383b4b;
}

.crew__list-item {
  border-radius: 10px;
  padding: 5px 8px;
  opacity: 0.4;
}

.crew__list-item:hover {
  opacity: 1;
  cursor: pointer;
}

.crew__list-item:focus {
  opacity: 1;
}

/* Adaptive */
@media (max-width: 1250px) {
  .crew-section {
    background-image: url(./../../images/crew/background-crew-tablet.jpg);
  }

  .crew__info {
    width: 460px;
    margin: 60px auto 40px;
    position: relative;
  }

  .crew__status {
    text-align: center;
    font-size: 24px;
  }

  .crew__name {
    text-align: center;
    font-size: 40px;
  }

  .crew__list {
    top: 280px;
    left: 150px;
    width: 150px;
  }

  .crew__image {
    height: 530px;
    width: 500px;
    margin: 80px auto 0;
  }
}

@media (max-width: 650px) {
  .crew__image {
    width: 200px;
    height: 225px;
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%);
  }

  .crew__line {
    display: block;
    width: 280px;
    margin-top: 265px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .crew__info {
    margin: 350px auto 0;
    padding-top: 50px;
    width: 280px;
  }

  .crew__list {
    top: 0;
    bottom: 280px;
    left: 60px;
  }

  .crew__status {
    font-size: 16px;
  }

  .crew__name {
    font-size: 24px;
  }
}

/* Adaptive height */
@media (max-height: 750px) and (min-width: 650px) {
  .crew__image {
    height: 550px;
  }

  .crew__list {
    bottom: 0;
  }

  .crew__info {
    margin-top: 100px;
  }
}